{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('resources/libraries/bootstrap-4.0.0/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('resources/libraries/fontawesome-5.2.0/css/all.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('resources/css/style.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %}{% endblock %}

{% block body %}
    <header>
        {% block header %}

        {% endblock %}
    </header>

    <main>
        {% block main %}

        {% endblock %}
    </main>

    <footer>
        {% block footer %}

        {% endblock %}
    </footer>
{% endblock %}

{% block endDocument %}

{% endblock %}

{% block modals %}

{% endblock %}

{% block javascripts %}
    {# Libraries Scripts #}
    <script src="{{ asset('resources/libraries/jquery-3.3.1.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('resources/libraries/bootstrap-4.0.0/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('resources/libraries/angular-1.7.4/angular.js') }}" type="text/javascript"></script>

    {# Custom Scripts #}
    <script src="{{ asset('resources/js/angular.js') }}" type="text/javascript"></script>
    <script src="{{ asset('resources/js/script.js') }}" type="text/javascript"></script>
{% endblock %}