{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('resources/libraries/bootstrap-3.3.7/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('resources/libraries/fontawesome-5.2.0/css/all.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('resources/libraries/metisMenu/metisMenu.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('resources/libraries/morrisjs/morris.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('resources/libraries/sb-admin-2/css/sb-admin-2.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('resources/css/style.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %}{% endblock %}

{% block body %}
    {% block main %}

    {% endblock %}
{% endblock %}

{% block endDocument %}

{% endblock %}

{% block modals %}

{% endblock %}

{% block javascripts %}
    {# Libraries Scripts #}
    <script src="{{ asset('resources/libraries/jquery-3.3.1.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('resources/libraries/bootstrap-3.3.7/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('resources/libraries/angular-1.7.4/angular.js') }}" type="text/javascript"></script>
    <script src="{{ asset('resources/libraries/angular-1.7.4/angular-route.min.js') }}" type="text/javascript"></script>

    {# Theme Scripts #}
    <script src="{{ asset('resources/libraries/metisMenu/metisMenu.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('resources/libraries/raphael/raphael.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('resources/libraries/morrisjs/morris.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('resources/libraries/morrisjs/morris-data.js') }}" type="text/javascript"></script>
    <script src="{{ asset('resources/libraries/sb-admin-2/js/sb-admin-2.min.js') }}" type="text/javascript"></script>

    {# Custom Scripts #}
    <script src="{{ asset('resources/js/angular.js') }}" type="text/javascript"></script>
    <script src="{{ asset('resources/js/script.js') }}" type="text/javascript"></script>
{% endblock %}