{% extends 'html5.html.twig' %}

{% block bodyclass %}page page-single page-welcome{% endblock %}
{% block title %}Welcome | Symfony{% endblock %}
{% block description %}That's a awesome single page.{% endblock %}

{% block main %}
    <div id="welcome" style="background: url('{{ asset('images/welcome.jpg') }}') no-repeat center center fixed; background-size: cover;
            position: fixed; top: 0; left: 0; width: 100%; height: 100%;">

    </div>
{% endblock %}