<div id="dashboard" class="row" ng-controller="averageCostByActionCtrl">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fas fa-chart-area"></i> Average cost by action (language)
            </div>

            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>Language</th>
                                    <th>Actions</th>
                                    <th>Total cost</th>
                                    <th>Average</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="language in averageCostByAction">
                                    <td>{{ "{{ language.language }}" }}</td>
                                    <td>{{ "{{ language.actions }}" }}</td>
                                    <td><span ng-if="language.cost > 0">{{ "{{ language.cost }}" }} €</span></td>
                                    <td><span ng-if="language.average > 0">{{ "{{ language.average }}" }} €</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.col-lg-8 (nested) -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>